body{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: #e8cfff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 100%;
}
h1 {
    font-family: sans-serif;
    text-align: center;
}
.hidden {
    display: none;
}

.penis-wrapper {
    position: relative;
    width: 256px;
    height: 256px;
    margin: 0 auto;
}

.penis {
    background: url('./imgs/penis.svg') bottom no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    animation: progres 3s normal linear; 
}
.penis-empty {
    background: url('./imgs/penis-empty.svg') bottom no-repeat;
    position: absolute;
    width: 100%;
    height: 256px;
    left: 0;
    bottom: 0;
}

@keyframes progres{
    0%{
      height: 0%;
    }
    25%{
        height: 50%;
    }
    50%{
        height: 75%;
    }
    75%{
        height: 85%;
    }
    100%{
        height: 100%;
    }
};